body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  border: none;
  background: #ee2b7a;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  border: 2px solid #ee2b7a;
  color: #ee2b7a;
  background: transparent;
}

header {
  position: fixed;
  width: 100%;
  height: 46px;
  background-color: #772d8b;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.header-left {
  display: flex;
}

.header-left-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header-left-icon img {
  width: 100%;
  height: 100%;
}

.header-right {
  display: flex;
}

.header-right span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.header-right-left {
  color: #ffc42d;
  margin-right: 20px;
}

.header-right-farright {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.header-right-farright span {
  color: #fff;
}

.header-right-farright-icon {
  width: 18px;
  height: 18px;
  margin-left: 3px;
}

.header-right-farright-icon img {
  width: 100%;
  height: 100%;
}

.main-background {
  top: 46px;
  position: relative;
  width: 100%;
  height: 666px;
  background-image: url(/Assets/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav {
  height: 79px;
  width: 100%;
  background: rgba(0, 0, 0, 0.26);
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-left-logo {
  height: 100%;
  width: 110px;
}

.nav-left-logo img {
  height: 100%;
  width: 100%;
}

.nav-left-text {
  margin-left: 25px;
  text-align: center;
}

.nav-left-text h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.nav-left-text a {
  margin-top: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #ffc42d;
}

.nav-left-text a:hover {
  color: #ee2b7a;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right-link {
  margin-right: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.nav-right-link:hover {
  color: #ee2b7a;
}

.nav-right-button button {
  width: 137px;
  height: 34px;
  padding: 20px;
  font-size: 14px;
  line-height: 19px;
}

.content {
  top: 79px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 70px;

}